body{
    font-family: Georgia, serif;
    font-weight: bold;
}

/* top section */

.topContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.wordBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.box {
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    color: black;
}

/* bottom section */

.bottomContainer {
    padding: 1em 2em;
    margin-bottom: 1em;
}

.emotionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.emotionCard {
    display: flex;
    width: 600px;
    height: 165px;
    padding: 1em 1em;
    margin: 1em 1em;
    background-color: white;
}

.emotionCard p {
    width: 20em;
}

.imageBox {
    display: flex;
    align-items: center;
}

.image {
    width: 12rem;
    height: 12rem;
    margin-left: 2rem;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-grey {
    background-color: gray;
}

.bg-purple {
    background-color: purple;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orange;
}

.bg-beige {
    background-color: beige;
}
